.card{
    

    

    &__company{
        &--login{
        position:absolute;
        display: inline-block;
        text-align: center;
        background-color: $color-white;
        top:20rem;
        left:30rem;
        width:30rem;
        height:30rem;
        border-radius: 100%;
        //background-image: url(../img/rounddoorhome.jpg);
                //background-size:54rem;
                //background-position-x: -11rem;
                //background-position-y: -6rem;
                background-image: linear-gradient(
                    to right bottom,
                    rgba(red, 0.8),
                    rgba(blue, 0.8)
                  ),url(../img/login.gif);
                background-size: cover;
                background-repeat: no-repeat;
                
                
                &-text{
                    color: $color-white;
                    margin-top: 10rem;
                }


        }

        

        

        
       
        // &-img{
            
        //     // width:30rem;
        //     // height:30rem;
        //     // border-radius: 100%;
        //     background-image: url(../img/rounddoorhome.jpg);
        //         background-size: cover;
        
        // }
        &--signup{
            position:absolute;
        display: inline-block;
        text-align: center;
            width:30rem;
        height:30rem;
        left:30rem;
        top: 50rem;
        border-radius: 100%;
        background-color: $color-white;
        }
    }

    &__employee {
        &--login{
            position: absolute;
            display: inline-block;
            text-align: center;
            top:20rem;
            left:80rem;
            height: 30rem;
            width: 30rem;
            border-radius: 100%;
            background-image: linear-gradient(
                to right bottom,
                rgba(red, 0.8),
                rgba(blue, 0.8)
              ),url(../img/login.gif);
            background-size: cover;
            background-repeat: no-repeat;
            &-text{
                color:$color-white;
                margin-top: 10rem;
            }
        }
        &--signup{
            position: absolute;
            display: inline-block;
            text-align: center;
            top:65rem;
            left:80rem;
            height: 30rem;
            width: 30rem;
            
            border-radius: 100%;
            background-image: linear-gradient(
                to right bottom,
                rgba(red, 0.8),
                rgba(blue, 0.8)
              ),url(../img/login.gif);
            background-size: cover;
            background-repeat: no-repeat;
            &-text{
                color:$color-white;
                margin-top: 10rem;
            }}
    }
}