.home__header{
    position: absolute;
    top: 5rem;
    left: 55rem;
    color: $color-white;

}

.home__subheader{
    position: absolute;
    top:8rem;
    left:50rem;
    color:$color-white;
}

.employeeHomeHeader{
    margin-top: 10rem;
    margin-left: 50rem;
    position: absolute;
    color: $color-white;
}